@import 'https://code.highcharts.com/css/highcharts.css';

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #8c8c8c;
}


.highcharts-title{
    font-size: 30px;
}

.graph_suit{
    position: relative;
    height: 500px;
    width: auto;
}

.button_suit{
    position: absolute;
    bottom: 0;
}

#addCodeSection{
    position: fixed;
    bottom: 200px;
    right: 50px;
    height: 400px;
    background-color: rebeccapurple;
}

pre{
    font-size: 15px;
}
